.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10vh;
}
h1 {
    margin: 0px;
    margin-left: 2vw;
}

.app {
    background-color: rgba(252, 252, 239, 0.747);
    height: 100vh;
}