#main-header{
    margin-top: 0px;
    margin-left: 2vw;
    padding-top: 1vh;
    cursor: pointer;
    width: 11vw;
}

#header-logout {
    cursor: pointer;
}

.header-logout {
    display: flex;
    flex-direction: column;
    padding-top: 1vh;
    row-gap: 1vh;
    justify-content: flex-start;
    margin-right: 3vw;
}

.app {
    background-color: rgb(216, 252, 252);
    height: 100vh;
}

.header-container {
    display: flex;
    justify-content: space-between;
}