.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10vh;
}

.login-form, .create-form {
    display: flex;
    flex-direction: column;
    height: 50vh;
    width: 25vw;
    align-items: center;
    justify-content: center;
    background-color: white;
    row-gap: 1vh;
    border: .5vw ridge lightcyan
}

#login-button {
    margin-right: 1vw;
}

.login-buttons {
    margin-top: 1vh;
}